# Binários e Executáveis
bin/prisma
bin/prismac
bin/prismaterm
bin/pric
bin/srprisma

src/prisma
src/prismac
src/srprisma

#install_utils/prisma/1.0/plib/doc

# Arquivos Objeto e Temporários
**/*.o
**/*.a
**/*.lib
*~
.goutputstream-*
#arquivo de testes
zfile.txt
zteste.txt
zz.txt
info_sis_prisma.txt
historico.txt
