# Binários e Executáveis
bin/prisma
bin/prismac
bin/prismaterm
bin/pric
bin/srprisma
/doc/
doc/
src/prisma
src/prismac
src/srprisma

#install_utils/prisma/1.0/plib/doc

# Arquivos Objeto e Temporários
**/*.o
**/*.a
**/*.lib
*~

#.html files
*.html
*.js
*.css

.goutputstream-*
#arquivo de testes
zfile.txt
zteste.txt
zz.txt
info_sis_prisma.txt
historico.txt
